@using DTOLayer.DTOs.MessageDTOs
@model List<EventListDTO>
<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <li  class="dropdown-header">
        Aşağıdaki Bildirimlerden Duyuruları Takip Edebilirsin.
    </li>
 @foreach(var x in Model){
    <li>
        <hr class="dropdown-divider">
    </li>
       
    <li class="notification-item">
        <i class="bi bi-info-circle text-primary"></i>
        <div>
                <a href="/Member/Event/EventDetails/@x.EventId">
                
            <h4 style="color:black">@x.MainHeader</h4>

            <p style="color:red">@Convert.ToDateTime(x.EventDate).ToString("dd/MM/yyyy") Tarihli Duyuru</p>
                </a>
        </div>
    </li>

    <li>
        <hr class="dropdown-divider">
    </li>
    }
    <li class="dropdown-footer">
        <a href="/Member/Event/Index/">Tüm Duyurulara Göz Atın</a>
    </li>

</ul><!-- End Notification Dropdown Items -->
