<li class="nav-item dropdown">
    <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
        <div class="navbar-profile">
            <img class="img-xs rounded-circle" src="@TempData["userImage"]" alt="">
            <p class="mb-0 d-none d-sm-block navbar-profile-name">@TempData["userName"]</p>
        </div>
    </a>
</li>