<section id="hero" class="hero section dark-background">
    <img src="~/web/assets/img/hero-bg.jpg" alt="" data-aos="fade-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 d-flex flex-column align-items-center align-items-lg-start">
                <h2 data-aos="fade-up" data-aos-delay="100">Yemek Tarifleri Sitemize <span>Hoş Geldiniz.</span></h2>
                <p data-aos="fade-up" data-aos-delay="200">Lezzet dolu bir dünyaya adım atın! Bu sitede, birbirinden nefis yemek tariflerini keşfedebilir, mutfakta harikalar yaratabilirsiniz. İster geleneksel tatları deneyin ister yeni lezzetler keşfedin; her damak zevkine uygun tariflerle mutfağınızı şenlendirin!</p>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                    <a href="#menu" class="cta-btn">TARİFLERİMİZ</a>
                    <a href="/Login/Index/" class="cta-btn">GİRİŞ YAP</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center mt-5 mt-lg-0">
                <a href="https://www.youtube.com/watch?v=nj15YwgyxQA" class="glightbox pulsating-play-btn"></a>
            </div>
        </div>
    </div>
</section>