<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">İŞLEMLER</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/Dashboard/Index/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed"  href="/Member/Default/Index/">
                <i class="bi bi-person"></i><span>Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed"  href="/Member/Message/Index/">
                <i class="bi bi-envelope"></i><span>Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/Message/MessagesSend/">
                <i class="bi bi-envelope"></i><span>Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/Message/SendMessage/">
                <i class="bi bi-envelope"></i><span>Yeni Mesaj</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed"  href="/Member/SuggestRecipe/Index/">
                <i class="bi bi-layout-text-window-reverse"></i><span>Onaylanan Tarifler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/SuggestRecipe/UnConfirmedRecipes/">
                <i class="bi bi-layout-text-window-reverse"></i><span>Onaylanmayan Tarifler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/SuggestRecipe/AddRecipe/">
                <i class="bi bi-layout-text-window-reverse"></i><span>Yeni Tarif</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Member/Event/Index/">
                <i class="bi bi-layout-text-window-reverse"></i><span>Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Default/Index/">
                <i class="bi bi-gem"></i><span>Vitrin Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/Login/LogOut/">
                <i class="bi bi-gem"></i><span>Çıkış Yap</span>
            </a>
        </li>
    </ul>
</aside>