@using DTOLayer.DTOs.ContactUsDTOs
@model List<ListContactUsDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
    int test = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kullanıcı Yorumları</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderen Ad Soyad</th>
                            <th>Gönderen Mail:</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {

                            test += 1;

                            <tr>
                                <td>@test</td>
                                <td>@x.NameSurname</td>
                                <td>@x.Mail</td>
                                <td><a href="/Admin/Contact/ContactUsDetails/@x.ContactUsId/" class="btn btn-warning">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




