<li class="nav-item profile">
    <div class="profile-desc">
        <div class="profile-pic">
            <div class="count-indicator">
                <img class="img-xs rounded-circle " src="@TempData["userImage"]" alt="">
                <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">@TempData["userName"] @TempData["userSurname"]</h5>
                <span>@TempData["userStatus"]</span>
            </div>
        </div>
    </div>
</li>